/* Reset some default styles */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; /* Add a smooth color transition effect */
}

/* Add hover effect */
nav a:hover {
    color: #ff6600; /* Change the text color on hover */
}

main {
    padding: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Style featured manga and latest releases sections */
.featured-manga, .latest-releases {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}

/* Responsive styles can be added for different screen sizes */
